.confirm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.small-black-box {
  width: 70px;
  height: 20px;
  background-color: #0f0f0f;
  border: 1px solid #0f0f0f;
  color: white;
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image-text img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}