.set-up-camera-icon {
    width: 152px;
    height: 152px;
    border: 1px black;
}

.body-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    display: flex;
}

.romb3 {
  width: 300px;
  height: 300px;
  border: 2px dashed #dadcdf;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

 .romb2 {
  width: 80px;
  height: 80px;
  border: 2px dashed #dadcdf;
}

 .romb1 {
  width: 60px;
  height: 60px;
  border: 2px dashed #dadcdf;
}

.text {
    width: 491.94px;
    height: 64px;
}