.circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-svg {
  position: absolute;
  inset: 0;
  transform: rotate(-90deg);
}

.bg-circle {
  fill: transparent;
  stroke: hidden;
}

.percent-circle {
  fill: transparent;
  stroke: black;
  transition: stroke-dashoffset 0.5s ease-out;
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  line-height: 1;
}