/* Header */

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Main */

.body-left {
  left: 28px;
}

.body-left-bold {
    width: 100%;
    height: 50%;
}

.body-left-bold-text {
    font-weight: 600px;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
}

.body-left-big-bold {
    width: 100%;
    height: 50%;
}

.body-left-big-bold-text {
    font-weight: 400;
    font-style: SemiBold;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -6%;
    text-transform: uppercase;
}

.body-left-not-bold {
    width: 100%;
    height: 50%;
}

.body-left-not-bold-text {
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.results-box {
    width: 1168px;
    height: 544px;
    background-color: rgb(222, 221, 221);
}

.type-race {
    margin-top: 310px;
    margin-left: 260px;
    color: black;
    
}

/* Footer */

.footer-text-layout {
    width: 317px;
    height: 24px;
    margin-top: 894px;
    margin-left: 821px;
}

.footer-text {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #A0A4AB;
}

/* Buttons */

.back-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 16px;
}

.reset-button {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 50%;
    border: 1px #1A1B1C;
}

.confirm-button {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
}

.sidebar-buttons {
   position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between buttons */
    z-index: 1000; /* Ensures buttons stay on top of other content */
}

.race-button {
    width: 100%;
    height: 20px;;
    background-color: white;
    color: black;
}

.race-button:hover {
    background-color: rgba(180, 177, 177, 0.564);
    color: black;
}

.race-button:active {
    background-color: black;
    color: white;
}

.age-button {
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
}

.age-button:hover {
    background-color: rgba(180, 177, 177, 0.564);
    color: black;
}

.age-button:active {
    background-color: black;
    color: white;
}

.gender-button {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
}

.gender-button:hover {
    background-color: rgba(180, 177, 177, 0.564);
    color: black;
}

.gender-button:active {
    background-color: black;
    color: white;
}