.prepare-analysis-page {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
}

.body-text {
    font-weight: 10;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: #1A1B1C;
}

.body-context {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Spinning effect */

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.prepare-square-1 {
  animation: spin 20s linear infinite;
}

.prepare-square-2 {
  animation: spin 24s linear infinite;
}

.prepare-square-3 {
  animation: spin 28s linear infinite;
}

.prepare-square-1,
.prepare-square-2,
.prepare-square-3 {
    position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  border: 2px dashed #dadcdf;
}

.prepare-square-1 {
   transform: translate(-50%, -50%) rotate(15deg);
}

.prepare-square-2 {
    transform: translate(-50%, -50%) rotate(35deg);
}

.prepare-square-3 {
    transform: translate(-50%, -50%) rotate(55deg);
}